.menu{
    margin: 0 !important;
}

body{
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../images/subscribe-bg.jpg) top center fixed;
    background-size: cover;
}

#logo img{
    height: 60px;
}

#logIn{
    text-align: right ;
    margin-top: 18px;

}
#register{
    text-align: right ;
    margin-top: 18px;
}

#login-link{
    color: white;
    border: 2px solid white;
    padding: 4px;
    font-size: 18px;
    text-decoration: none;
    transition: 500ms;
}
#register-link{
    color: white;
    border: 2px solid white;
    padding: 4px;
    font-size: 18px;
    text-decoration: none;
    transition: 500ms;
}

#login-link:hover{
    /* background-color: #00F23E; */
    border-color:transparent;
    color: rgba(51, 46, 46, 0.322);
    font-size: 20px;
}
#register-link:hover{
    /*  background-color: #00F23E; */
    border-color: transparent;
    color: rgba(0, 0, 0, 0.384);
    font-size: 20px;
}
