{% extends 'base.html.twig'%}

{% block title %}Nuestra Pagina de contacto!{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
{% endblock %}

{% block body %}
    <h1>Esta va a ser la pagina de contacto del blog</h1>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}